<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/user-login.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png"  sizes="96x96" href="/static/favicon/fav.jpg">
</head>

<body>
  <div class="main ">
  
    <div class="container " id="a-container" style="flex-direction: column;">
      <form class="form" id="b-form" method='POST' >
        <h2 class="form_title title">Reset your password</h2>
  
        <input class="form__input" type="password" placeholder="password" id="pass-input" name="pass">
        <input class="form__input" type="password" placeholder="Confirm password" id="Confirm-pass-input" name="password">
        <small id="error" style="visibility: hidden;color: red;">Fill all credentials to login</small>
        <small id="login-info" style="visibility: hidden;color:darkblue">Validating your credentials, Please
          wait..</small>
        <button class="form__button button submit signupbtn" id="login-btn" >Reset Password</button>
      </form>
    </div>
  </div>

</body>
<script>
  const form = document.getElementById('b-form');
  const pass = document.getElementById('pass-input');
  const ConPass = document.getElementById('Confirm-pass-input');
  const error = document.getElementById('error');
  window.addEventListener('DOMContentLoaded', function(e){
    form.action = location.href;
  })
  form.addEventListener('submit', function(e){
    e.preventDefault();
    const val = pass.value.trim();
    const ConVal = ConPass.value.trim();
    if (val == '') {
      error.innerHTML = 'Please enter a password';
       return error.style.visibility = 'visible';
    } else if (val.length < 8) {
      error.innerHTML = 'Password must be at least 8 characters';
    }  else if( val.length > 20) {
      error.innerHTML = 'Password must be at less than 20 characters';
      return error.style.visibility = 'visible';
    } else if (ConVal.length == 0) {
      error.innerHTML = 'Please confirm your password';
      return error.style.visibility = 'visible';
    } else if (val !== ConVal) {
      error.innerHTML = 'Passwords do not match';
      return error.style.visibility = 'visible';
    }
      fetch(`/password/${ConVal}`)
      .then((response)=> response.json())
      .then((data)=> {
        if (data.success) form.submit()
        else  {
            error.innerHTML = data.error.message;
            error.style.visibility = 'visible';
          }
      })
  });
</script>

</html>